* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 2rem 3rem;
    width: 25rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px #0000001a;
}

form h2 {
    padding: 0.5rem;
    text-align: center;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    padding-top: 0.5rem;
    color: #e50808;
    font-family: sans-serif;
    font-size: 0.8rem;
}