* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#tableContainer {
    background-color: #ffffff;
    width: 100%;
    border-radius: 1rem;
}

form {
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    width: 23rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
}

h2 {
    padding: 1rem;
    text-align: center;
}

form div {
    margin-bottom: 0.8rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

#completed {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 96%;
    background-color: #f2f2f2;
    margin: 2rem;
}

th,
td {
    border: 1px solid black;
    padding: 0.4rem;
    text-align: left;
}

tr:hover {
    background-color: #f2f2f2;
}

.action {
    display: flex;
    justify-content: space-evenly;
}

.delete {
    padding: 0.7rem 1.5rem;
    background-color: #cf0707f2;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.edit {
    padding: 0.5rem 1.5rem;
    background-color: #08ce2f;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

#tableHeader {
    display: grid;
    grid-template-columns: 1fr 8rem;
}

#tableTitle {
    padding-left: 7.5rem;
}

#reset {
    padding: 0.5rem 1.5rem;
    background-color: #82f4ec;
    color: #090909;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
}

#noTask {
    text-align: center;
    padding: 2rem;
    border: 1px solid #636161;
    margin: 2rem;
}